<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FMC BKD | {{ title }} </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../statics/css/dashboard.css">
   
</head>
<body> 
    {% include 'header.html' %} 
    <div class="wrapper">
        {% include 'sidebar.html' %} 
        <div id="content">
            <br>
           <a href="{{ url_for('staff') }}">
            <h3>
              <i class="fas fa-plus"></i> {{title}}
            </h3>
            </a> 
            <div class="container-box">
               
<div class="form-container"> 
    <form>
         
        <div class="form-group">
            <span>Name</span>
            <input type="text" class="form-control small" id="username" placeholder="Enter Name">
            <span>File Number</span>
            <input type="text" class="form-control small" id="filenumber" placeholder="Enter File Number">
            <span>Phone Number</span>
            <input type="text" class="form-control small" id="staffpno" placeholder="Enter Phone Number">
        </div> 
        <div class="form-group">    
            <span>Email</span>        
            <input type="email" class="form-control middle" id="staffemail" placeholder="Enter Email">
            <span>Department</span>
            <input type="text" class="form-control middle" id="userDepartment" placeholder="Enter Department">
        </div>
        <button type="submit" class="btn btn-secondary float"> <i class="fa fa-plus"></i> Add User</button>
    </form>
</div> 

            </div>
        </div>

    </div>

        </div>
    </div>
    {% include 'footer.html' %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('.wrapper').toggleClass('toggled');
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        setTimeout(function() {
        var preloader = document.getElementById('preloader');
        preloader.style.display = 'none';
        
        var content = document.getElementById('content');
        content.style.display = 'block';
        
        document.body.style.overflow = 'auto';
    }, 3000);  
});
    </script>
</body>
</html>
