<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FMC BKD | {{ title }} </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../statics/css/dashboard.css">
</head>
<body>
    {% include 'header.html' %}
    <div class="wrapper">
        {% include 'sidebar.html' %}
        <div id="content">
            <br>
           <a href="{{ url_for('staff') }}">
            <h3>
              <i class="fas fa-plus"></i> {{title}}
            </h3>
            </a>
            <div class="container-box">
                <div class="form-container">
                    <form method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" id="stafffirstName" name="stafffirstName" placeholder="Enter First Name" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="staffmidName" name="staffmidName" placeholder="Enter Middle Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="stafflastName" name="stafflastName" placeholder="Enter Last Name" required>
                        </div>
                        <div class="form-group">
                            <input type="date" class="form-control" id="staffdob" name="staffdob" placeholder="Enter Date of Birth" required>
                        </div>
                        <div class="form-group">
                            <select id="staffType" class="form-control" required>
                                <option value="">Choose Staff Type</option>
                                <option value="SSA">Senior Staff (SSA)</option>
                                <option value="JSA">Junior Staff (JSA)</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" id="stafffileno" name="fileNumber" placeholder="Enter File No" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" id="staffippissNumber" name="staffippissNumber" placeholder="Enter IPPIS Number" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="staffrank" name="staffrank" placeholder="Enter Staff Rank" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="staffsalgrade" name="staffsalgrade" placeholder="Enter Salary Grade" required>
                        </div>
                        <div class="form-group">
                            <input type="date" class="form-control" id="staffdofa" name="staffdoa" placeholder="Enter Date of First Appointment">
                        </div>
                        <div class="form-group">
                            <input type="date" class="form-control" id="staffdopa" name="staffdapa" placeholder="Enter Date of Present Appointment">
                        </div>
                        <div class="form-group">
                            <select name="gender" id="staffgender" class="form-control" required>
                                <option value="">Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="stafforigin" name="stafforigin" placeholder="State of Origin" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="localgovorigin" name="localgovorigin" placeholder="Local Government of Origin" required>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="qualification" placeholder="Qualification" required>
                        </div>
                        <button type="submit" class="btn btn-secondary float"> <i class="fa fa-plus"></i> Add Staff</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('.wrapper').toggleClass('toggled');
            });

            $('#staffType').on('change', function() {
                var selectedType = $(this).val();
                $('#filePrefix').text(selectedType);
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            setTimeout(function() {
                var preloader = document.getElementById('preloader');
                preloader.style.display = 'none';
                
                var content = document.getElementById('content');
                content.style.display = 'block';
                
                document.body.style.overflow = 'auto';
            }, 3000);
        });
    </script>
</body>
</html>
