<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FMC BKD | {{ title }} </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../statics/css/dashboard.css">
   
</head>
<body>    
  {% include 'header.html' %} 
    <div class="wrapper">
      {% include 'sidebar.html' %} 
        <div id="content">
            <br>
           <a href="{{ url_for('dashboard') }}">
            <h3>
              <i class="fas fa-home"></i> Dashboard
            </h3>
            </a> 
            <div class="container-box">
                 <div class="container-block ">
                    <h4>All Staffs</h4>
                    <p><b>NO:</b><p><i>{{ allstaffscount }}</i> </p></p>
                 </div>
                 <div class="container-block bg-black">
                    <h4>Total Permanent Staffs</h4>
                    <p><b>NO:</b><p><i>{{ total_permenentstaff_count }}</i> </p></p>
                 </div>
                 <div class="container-block">
                    <h4>Total LCM</h4>
                    <p><b>NO:</b><p><i>{{ lcm_staff_count }}</i> </p></p>
                 </div>
                 <div class="container-block bg-black">
                    <h4>Total User</h4>
                    <p><b>NO:</b><p><i>{{ total_users }}</i> </p></p>
                 </div>
                 
            </div>
            <div class="container-box">
              <img src="../statics/img/3.jpg" width="1000" height="500" style="border-radius: 50px;" alt="website Logo">
            </div>
            <br>
            <br>
        </div>

    </div>

        </div>
    </div>
    {% include 'footer.html' %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('.wrapper').toggleClass('toggled');
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
        setTimeout(function() {
        var preloader = document.getElementById('preloader');
        preloader.style.display = 'none';
        
        var content = document.getElementById('content');
        content.style.display = 'block';
        
        document.body.style.overflow = 'auto';
    }, 3000);  
});
    </script>
</body>
</html>