<div id="preloader">
    <div class="spinner"></div>
  </div>
<div id="header" class="container-fluid">
    <h2>FMC-BKD</h2>
     
     <div class="icons">
       <div class="icon bar icon">
         <i class="fa fa-bars icon" id="sidebarCollapse" style="font-size: x-large;"></i> 
       </div>
         <div class="icon search-icon">
             <i class="fas fa-search"></i>
         </div>
         <div class="icon chat-icon">
             <i class="fas fa-comment"></i>
         </div>
         <div class="icon chat-icon">
             <i class="fas fa-user"></i>
         </div>
         <div class="icon chat-icon">
             <i class="fas fa-sign-out-alt"></i>
         </div>             
     </div>
 </div>