<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FMC BKD | {{ title }} </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="../statics/css/dashboard.css">
</head>
<body>
    {% include 'header.html' %} 
    <div class="wrapper">
        {% include 'sidebar.html' %} 
        <div id="content">
            <br>
            <a href="{{ url_for('table_list') }}">
                <h3>
                    <i class="fas fa-list"></i> {{title}}
                </h3>
            </a> 
            <div class="container-box">
                <div class="container mt-4">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <a href="{{ url_for('add_lcm') }}"><button class="btn btn-info btn-sm"><i class="fas fa-plus"></i> Add Staff</button></a>
                        <input type="text" id="searchInput" class="form-control w-25 " placeholder="Search...">
                    </div>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>File_NO</th> 
                                <th>Name</th>
                                <th>D O B</th>
                                <th>Department</th>
                                <th>DOFA</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="staffTable"> 
                            {% for staff_member in staff %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ staff_member.fileNumber }}</td>
                                <td>{{ staff_member.firstName }} {{ staff_member.midName }} {{ staff_member.lastName }}</td>
                                <td>{{ staff_member.dob }}</td>
                                <td>{{ staff_member.department }}</td>
                                <td>{{ staff_member.dateOfApt }}</td>
                                <td>
                                    <button class="btn btn-info btn-sm"><i class="fas fa-eye"></i></button>
                                    <button class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></button>
                                    <button class="btn btn-danger btn-sm"><i class="fas fa-trash"></i></button>
                                </td>
                            </tr> 
                            {% endfor %}
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination justify-content-center" id="pagination">
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %} 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('.wrapper').toggleClass('toggled');
            });
        });
    </script>
    <script src="../statics/js/datble.js"></script>
</body>
</html>
