
<nav id="sidebar">
    <ul class="list-unstyled components">
      <li>
        <i class="fas fa-tachometer-alt"></i><a href="{{ url_for('dashboard') }}">Dashboard</a>
    </li>
    <li>
      <i class="fa fa-exclamation-triangle"aria-hidden="true"></i><a href="{{ url_for('reports') }}">Reports</a>
    </li>
        <li>
          
          <i class="fa fa-users"></i><a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Manage Permanent</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                  <i class="fa fa-plus"></i><a href="{{ url_for('staff') }}">Add staff</a>
                </li>
                <li>
                  <i class="fa fa-list"></i> <a href="{{ url_for('table_list') }}">List of Staff</a>
                </li>

            </ul>
        </li>
       
        <li>
          <i class="fa fa-list"></i><a href="{{ url_for('confirmation') }}">Confirmation</a>
        </li>
      
        <li>
          <i class="fa fa-list"></i><a href="{{ url_for('promotion') }}">Promotion</a>
        </li>
        <li>          
          <i class="fa fa-users"></i><a href="#homeubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Manage Locum Staffs</a>
            <ul class="collapse list-unstyled" id="homeubmenu">
                <li>
                  <i class="fa fa-plus"></i><a href="{{ url_for('add_lcm') }}">Add LCM Staff</a>
                </li>
                <li>
                  <i class="fa fa-list"></i> <a href="{{ url_for('list_Lcm') }}">List of LCM Staff</a>
                </li>

            </ul>
        </li>
        {% if session.get('role') == 'admin-user' %}   
          <li>
            <i class="fa fa-users"></i><a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Manage Users</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li>
                    <i class="fa fa-plus"></i>  <a href="{{ url_for('add_user') }}">Add user</a>
                  </li>
                  <li>
                    <i class="fa fa-list"></i>  <a href="{{ url_for('user_list') }}">User Table</a>
                  </li>
              </ul>
              
          </li>
        {% endif %}
        <li>
          <i class="fa fa-sign-out-alt"></i><a href="{{ url_for('logout') }}">Logout</a>
        </li>
    </ul>
</nav>
