body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px 20px;
    position: fixed;
    width: 99%;
    top: 0;
    z-index: 1001;
}

.header-icons ul li {
    margin-right: 15px;
    cursor: pointer;
    display: inline-block;
}

.header .open-btn {
    font-size: 24px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-right: 20px;
}

.container {
    display: flex;
    margin-top: 50px;
}

.sidebar {
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 50px;
    left: -250px;
    background-color: #333;
    color: white;
    transition: left 0.3s ease;
    z-index: 1000;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 15px;
    text-align: center;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 18px;
}

.sidebar ul li a:hover {
    background-color: #575757;
}

.sidebar .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.content {
    margin-left: 20px;
    padding: 20px;
    flex-grow: 1;
    margin-top: 50px;
}

.animated-container {
    width: 25%;
    height: 200;
    border-radius: 15px;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.5s ease, transform 0.5s ease;
    margin-bottom: 20px;
    display: inline-block;
    padding: 20px;
}

.animated-container.show {
    opacity: 1;
    transform: scale(1);
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 200px;
        left: -200px;
    }

    .sidebar ul li {
        padding: 10px;
    }

    .sidebar ul li a {
        font-size: 16px;
    }

    .open-btn {
        font-size: 24px;
    }

    .header-icons i {
        margin-right: 10px;
    }

    .header .open-btn {
        font-size: 24px;
    }

    .content {
        margin-left: 0;
    }

    .animated-container {
        width: 90%;
    }
}
